<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Forum</h1>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
         <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Notifications</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Questions</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--1st Forum post-->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-lg-1">
              <div class="card-forum-image">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </div>
            </div>
            <div class="col-lg-11">
              <div class="card-forum-image">
                <span class="heading">Elizabeth W.</span>
                <span class="description">Posted 09/02/2024</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <p>Hi guys, I am currently in class COS60010 and I could not access my account, still waiting for IT to help. Could someone please let me know when will be the deadline for the assignment 02? Thank you!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Comments</label>
                  <input id="input-comments" class="form-control form-control-alternative" placeholder="Enter your comments" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--2nd Forum post-->
    <div class="col-xl-8 order-xl-2">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-lg-1">
              <div class="card-forum-image">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </div>
            </div>
            <div class="col-lg-11">
              <div class="card-forum-image">
                <span class="heading">Elizabeth W.</span>
                <span class="description">Posted 09/02/2024</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <p>Hi guys, I am currently in class COS60010 and I could not access my account, still waiting for IT to help. Could someone please let me know when will be the deadline for the assignment 02? Thank you!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Comments</label>
                  <input id="input-comments" class="form-control form-control-alternative" placeholder="Enter your comments" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!--2nd Forum post-->
    <div class="col-xl-8 order-xl-2">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-lg-1">
              <div class="card-forum-image">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </div>
            </div>
            <div class="col-lg-11">
              <div class="card-forum-image">
                <span class="heading">Elizabeth W.</span>
                <span class="description">Posted 09/02/2024</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <p>Hi guys, I am currently in class COS60010 and I could not access my account, still waiting for IT to help. Could someone please let me know when will be the deadline for the assignment 02? Thank you!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Comments</label>
                  <input id="input-comments" class="form-control form-control-alternative" placeholder="Enter your comments" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--3rd Forum post-->
    <div class="col-xl-8 order-xl-2">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-lg-1">
              <div class="card-forum-image">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </div>
            </div>
            <div class="col-lg-11">
              <div class="card-forum-image">
                <span class="heading">Elizabeth W.</span>
                <span class="description">Posted 09/02/2024</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <p>Hi guys, I am currently in class COS60010 and I could not access my account, still waiting for IT to help. Could someone please let me know when will be the deadline for the assignment 02? Thank you!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Comments</label>
                  <input id="input-comments" class="form-control form-control-alternative" placeholder="Enter your comments" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--4th Forum post-->
    <div class="col-xl-8 order-xl-2">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-lg-1">
              <div class="card-forum-image">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </div>
            </div>
            <div class="col-lg-11">
              <div class="card-forum-image">
                <span class="heading">Elizabeth W.</span>
                <span class="description">Posted 09/02/2024</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <p>Hi guys, I am currently in class COS60010 and I could not access my account, still waiting for IT to help. Could someone please let me know when will be the deadline for the assignment 02? Thank you!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Comments</label>
                  <input id="input-comments" class="form-control form-control-alternative" placeholder="Enter your comments" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>