* {
    margin: 2.5%;
}

.options {
    background-color: lightcyan;
    border: 3px black solid;
    width: 45%;
    height: 150px;
    float: left;
    font-weight: bolder;
}

.disabled {
    background-color: lightgray;
    color: black;
}

.correct {
    background-color: lightgreen;
}

.wrong {
    background-color: lightcoral;
}




