<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
       
      </div>
    </div>
</div>
  <!-- Page content -->

  <div *ngIf="!openCreate" class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Quizzes</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Quiz Name</th>
                  <th scope="col">Due Date</th>
                  <!--<th scope="col">Status</th>
                  <th scope="col">Users</th>-->
                  <th scope="col">Create date</th>
                  <th scope="col">Number of questions</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tbody>
                  <tr *ngFor="let quiz of allQuizzes">
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ quiz.title }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{ quiz.last_attempt_date }}
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{ quiz.created_date }}</span>
                      </div>
                    </td>
                    <td>
                        {{ quiz.questions_list.length }}
                      <td class="text-right">
                        <div><!--<div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item">Start Quiz</a>
                            <button type="button" class="dropdown-item"  data-toggle="modal" data-target="#staticBackdrop">View Result</button>
                          </div>-->

                          <div class="bth-group" role="group">
                            <button class="btn btn-primary" (click)="editQuiz(quiz._id)">View</button>
                            <button class="btn btn-outline-primary" (click)="quizDashboard('questions_2_dashboard')">Stats</button>
                            <button class="btn btn-outline-primary" *ngIf="quiz.quiz_status == 0" (click)="releaseQuiz(quiz)">Release</button>
                            <button class="btn btn-dark" *ngIf="quiz.quiz_status == 1" aria-disabled="true" disabled>Released</button>
                            <button class="btn btn-outline-danger" (click)="deleteQuiz(quiz)">Delete</button>
                          </div>
                        </div>
                      </td>
                  </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="col-xl-12 mt-4 mb-10 mb-xl-0 sticky-top">
  <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#staticBackdrop" (click)="openCreate = !openCreate" *ngIf="!openCreate">Create new quiz</button>
</div> <!--close create post div-->

<div *ngIf="openCreate" id="create_post_interface">  
  <div class="container-fluid">
    <div class="row">
<!--Forum post-->
      <div class="col-xl-12 mt-4 mb-10 mb-xl-0">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <span class="heading">Create Quiz</span>
          </div> <!--card header-->
        <div class="card-body">
          <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
<!--Title form group-->
            <div class="form-group">
              <label for="title">Title</label>
              <input class="form-control" type="textbox" name="title" formControlName="title" required>
            </div> <!--close title-->
<!--Title form group-->
            <div class="form-group">
              <label for="dueDate">Set due date</label>
              <input class="form-control" type="textbox" name="dueDate" formControlName="dueDate" required>
            </div> <!--close title-->
<!--Content form group-->
<!--Media-->
            <button class="btn btn-primary" type="submit">Confirm</button>
            <button class="btn btn-primary" (click)="openCreate = !openCreate" type="bottom">Return</button>
          </form><!--Close form-->
        </div> <!--Close card body-->
      </div><!--Close card background-->
     </div><!--Close column--> 
    </div><!--Close row-->
  </div> <!--Close container-->
</div><!--Close ngIf-->



