<!--<h1>testing!! Showing stat for quiz with first question: {{ stats[0].question_text }}</h1>-->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-5">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Average score:</h5>
                  <span class="h2 font-weight-bold mb-0">75%</span>
                </div>
                <div class="col-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Top performers:</h5>
                  <span class="h2 font-weight-bold mb-0">Alan (100%), Maria (98%), Tom (95%)</span>
                </div>
                <div class="col-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Bottom Perfomers:</h5>
                  <span class="h2 font-weight-bold mb-0">Steven (33%), Ken (40%), Elvis (42%)</span>
                </div>
                <div class="col-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Average time of completion:</h5>
                  <span class="h2 font-weight-bold mb-0">15m 25s</span>
                </div>
                <div class="col-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <!-- 1st Bar chart -->
    <div class="col-xl-6 col-md-12 mt">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Number of students in each score range</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="student-score" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- 2nd Bar chart -->
    <div class="col-xl-6 col-md-12 mt-md-3 mt-sm-3">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Number of attempts from students</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="student-attempt" class="chart-canvas"></canvas> <!-- chart identified by id... -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
